<%= form_for [:suppervisor, @user] do |f| %>
  <%= render "shared/user_error_messages" %>
  <%= f.label :name %><br>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email %><br>
  <%= f.text_field :email, class: "form-control" %>
  <%= f.label :image %><br>
  <%= f.text_field :image, class: "form-control" %>
    
  <%= f.label :right %>
  <select name="user[role]">
    <option value="suppervisor">suppervisor</option>
    <option value="trainee">trainee</option>
  </select>

  <%= f.label :password %><br>
  <%= f.password_field :password, class: "form-control" %>
  <%= f.label :password_confirmation, 'Retype password' %><br>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <div class="actions">
    <%= f.submit "Save account", class: "btn btn-primary" %>
  </div>
<% end %>
