<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<p>
  <strong>Type:</strong>
  <%= @user.role %>
</p>

<% @user.activities.each do |act| %>
  <% if act.act_type == "update profile"%>
    <ul>
      Update profile <%= time_ago_in_words(act.created_at) %> ago.
    </ul>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= link_to "Edit", edit_user_path(@user) %> |
<% end %>
<%= link_to "Back", users_path %>
