<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @course.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @course.finish %>
</p>

<div class="col-md-1 col-md-offset-0">
  <% if @course.start.nil? %>
    <div>
      <% @course.name %>
      <%= form_for [:suppervisor,@enrollment_subject] do |f| %>
        <div><%= hidden_field_tag :course_id, @course.id %></div>
        <div><%= hidden_field_tag :method, 1 %></div>
        <%= f.submit "Start", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% else %>
    <% if @course.finish.nil? %>
      <div>
        <%= form_for [:suppervisor,@enrollment_subject] do |ff| %>
          <div><%= hidden_field_tag :course_id, @course.id %></div>
          <div><%= hidden_field_tag :mentod, 2 %></div>
          <%= ff.submit "Finish", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<br><br>

<h2>
  <strong>List subject of this course</strong>
</h2>

<% @subjects.each do |subject| %>
  <strong>Subject Name:</strong> <%= subject.name %><br>
  <strong>Description:</strong><%= subject.description %><br>
  <% subject.enrollment_subjects.each do |enrollment_subject| %>
    <% if enrollment_subject.status == 0 %>
      <div class="col-md-2">
        <%= form_for [:suppervisor, @enrollment_task] do |f| %>
          <div><%= hidden_field_tag :subject_id, subject.id %></div>
          <div><%= hidden_field_tag :course_id, @course.id %></div>
          <div><%= hidden_field_tag :flag, 1 %></div>
          <%= f.submit "Start", class: "btn btn-primary" %>
        <% end %>
      </div><br>
    <% else %>
      <% if enrollment_subject.status == 1 %>
        <strong>Started at:</strong> <%= Time.zone.now %><br>
        <div class="col-md-2">
          <%= form_for [:suppervisor, @enrollment_task] do |f| %>
          <div><%= hidden_field_tag :subject_id, subject.id %></div>
          <div><%= hidden_field_tag :course_id, @course.id %></div>
          <div><%= hidden_field_tag :flag, 2 %></div>
          <%= f.submit "Finish", class: "btn btn-primary" %>
          <% end %>
        </div><br>
      <% else %>
        <strong>Started at:</strong> <%= Time.zone.now %><br>
        <strong>Finished at:</strong> <%= Time.zone.now %><br>
      <% end %>
    <% end %><br>
  <% end %>

  <%= link_to "Show", suppervisor_subject_path(subject) %>
  <%= link_to "Edit", edit_suppervisor_subject_path(subject) %>
  <%= link_to "Delete", suppervisor_subject_path(subject),
  method: :delete, data: {confirm: "Are you sure?"} %><br>

  <strong>List of Tasks:</strong><br>
  <% subject.tasks.each do |task| %>
      <strong>Task Name:</strong> <%= task.name %><br>
  <% end %><br>
<% end %>

<h2>
  <strong>List user attend this course</strong>
</h2>
<table>
  <tr><th>Name</th><th></th></tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to "view user", user %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add user to course', suppervisor_course_assign_user_path(@course) %>
</table>


<%= link_to 'Back', suppervisor_courses_path %>
