<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @course.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @course.finish %>
</p>

<h2>
  <strong>List subject of this course</strong>
</h2>

<table>
  <tr><th>Name</th><th>Description</th></tr>
  <% @subjects.each do |subject| %>
    <tr><td><%= subject.name %> - <%= subject.description %></td></tr>
  <% end %>
</table><br>

<h2>
  <strong>List user attend this course</strong>
</h2>
<table>
  <tr><th>Name</th><th></th></tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to "view user", user %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add user to course', suppervisor_course_assign_user_path(@course) %>
